@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Recoleta";
  src: url(../public/fonts/recoleta-semibold.woff2) format("woff2");
}
@font-face {
  font-family: "Graphik";
  src: url(../public/fonts/Graphik-Regular.woff2) format("woff2");
}
* {
  @apply duration-150;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  @apply text-3xl md:text-5xl;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
}

.sticky-header h2 {
  @apply text-4xl mb-3;
}

section {
  @apply py-6 px-5 md:grid md:grid-cols-3 gap-10 max-w-6xl mx-auto my-6;
}

section .content {
  @apply md:col-span-2;
}
section ul {
  @apply flex flex-col gap-3;
}

.sticky-header {
  @apply md:sticky md:top-10 mb-4;
}
ul.liststyled li::marker {
  position: absolute;
  top: 0;
  left: -2rem;
  content: "-  ";
}

#challenges li {
  @apply relative;
}
#challenges li::before {
  font-family: 'Montserrat', sans-serif;
  content: counter(list-item) ".";
  @apply text-2xl text-blue-900 relative -left-2 ml-2;
}

#application li {
  @apply relative mt-8;
}
#application li::before {
  font-family: 'Montserrat', sans-serif;
  content: counter(list-item);
  @apply text-2xl text-yellow-300 absolute -top-8 -left-1;
}

.apply-button {
  font-family: 'Montserrat', sans-serif;
  @apply bg-blue-700 text-white px-5 py-2 rounded-lg hover:bg-blue-600;
}

.yellow {
  background: #FFB000;
}

.blue-bg {
  background: #1342D8;
}

.blue-t {
  color: #1342D8;
}

.partners-div {
  text-align: center;
}

.logos {
  margin: auto;
}